<h1> Lets check how the timer works   </h1>
<hr>
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form action="" method="post" id="timerForm">
            <input type="time" name="" id="" [value]="startTimer()">
            </form>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a name="" id="" class="btn btn-primary" href="#" role="button" (click)="startTimer()">Start</a>
                <!-- <a name="" id="" class="btn btn-primary" href="#" role="button" ">Refresh</a> -->
            </div>
        </div>
    </div>
</div>
